<h1 class="navbar-brand">
    <a href="{{ path('sylius_admin_dashboard') }}">
        <img src="{{ asset('images/logo/betcircle_logo_rectangular_cropped.png') }}" alt="BetCircle" style="height:70px;">
    </a>
</h1>
