<div class="d-lg-none">
    <button class="bc-header-menu-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{{ 'app.ui.toggle_navigation'|trans }}">
        {{ ux_icon('tabler:menu-2', { class: 'icon icon-md' }) }}
        <span>{{ 'app.ui.browse'|trans }}</span>
    </button>
</div>
