<div class="col">
    <a class="bc-logo-link bc-logo-link--checkout" href="{{ path('sylius_shop_homepage') }}" aria-label="{{ 'app.ui.betcircle_home'|trans }}">
        <div class="bc-logo bc-logo--checkout">
            <img src="{{ asset('images/logo/betcircle_logo.png') }}" alt="BetCircle" />
        </div>
    </a>
</div>
