<div class="container">
    <div class="bc-auth-shell">
        <div class="row g-0 align-items-stretch">
            <div class="col-lg-5">
                <div class="bc-auth-aside">
                    <span class="bc-pill">{{ 'app.ui.reset_password_pill'|trans }}</span>
                    <h1 class="text-white mt-3 mb-3">{{ 'app.ui.reset_password_hero_title'|trans }}</h1>
                    <p class="mb-0 text-white-50">
                        {{ 'app.ui.reset_password_hero_text'|trans }}
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="bc-auth-panel">
                    {% hook 'content' %}
                </div>
            </div>
        </div>
    </div>
</div>
