{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% set prefixes = prefixes|default([])|merge(['sylius_shop.checkout.common']) %}

{% block body %}
    {% set prefixes = prefixes|filter(hook => hook != generic_hook) %}
    <div class="d-flex flex-column min-vh-100 overflow-hidden bc-checkout-shell">
        <div class="bc-header-wrap pt-3 mb-4">
            <div class="container">
                <div class="bc-header">
                    <div class="bc-header-inner">
                        {% if active_step|default(null) is not null %}
                            {% set hooks = [ active_step ~ '.header'] %}
                        {% endif %}
                        {% hook hooks|default([])|merge(['header']) with { _prefixes: prefixes, order } %}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow-1 d-flex align-items-stretch">
            <div class="container">
                <div class="row g-4 h-100">
                    <div class="{{ main_column_class|default('col-12 col-lg-7') }}">
                        {% block content %}
                        {% endblock %}
                    </div>
                    {% block sidebar %}
                        <div class="{{ sidebar_column_class|default('col-12 col-lg-5') }}">
                            <div class="bc-checkout-sidebar">
                                {% if active_step|default(null) is not null %}
                                    {% set hooks = [ active_step ~ '.sidebar'] %}
                                {% endif %}
                                {% hook hooks|default([])|merge(['sidebar']) with { _prefixes: prefixes, order } %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
