<div class="bc-ui-table bc-order-summary-table-shell mb-4">
    <div class="table-responsive bc-table-wrap bc-ui-table__surface">
        <table class="table table-borderless table-space align-middle mb-0 bc-order-summary-table" {{ sylius_test_html_attribute('order-table') }}>
            {% hook 'table' %}
        </table>
    </div>
</div>
